<div class="row animated fadeInUp">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Datos de Usuario</h4>
                <h6 class="card-subtitle">Espacio para editar los datos suministrados del perfil</h6>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombres</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombres" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" type="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                     <i class="fa fa-save"></i>
                       GUARDAR
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Imagen de Usuario</h4>
                <h6 class="card-subtitle">Espacio para editar la imagen del perfil</h6>

                <img *ngIf="!imagenTemporal" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w150">
                <br>

                <input (change)="seleccionImage($event.target.files[0])" type="file">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                      GUARDAR
                </button>

            </div>
        </div>


        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Contraseña</h4>
                <h6 class="card-subtitle">Espacio para editar la contraseña</h6>

                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="cambiarPassword()" class="form-horizontal form-material" id="loginform">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                        <p class="text-danger">Las contraseñas no coinciden!</p>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirma Contraseña">
                        </div>
                    </div>
                    <button type="button" class="btn btn-success waves-effect waves-light m-r-10" type="submit">
                        <i class="fa fa-save"></i>
                          CAMBIAR CONTRASEÑA
                    </button>
                </form>
            </div>
        </div>
    </div>

    


</div>