<div class="row">

    <div class="col-md-12">

        <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom" [styles]="styleArray">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

            <agm-marker *ngFor="let empresa of empresas" [iconUrl]="'assets/images/markets/'+empresa.icono" [latitude]="empresa.lat" [longitude]="empresa.lng">

                <agm-info-window>
                    <div class="card-body">
                        <h4 class="card-title">{{empresa.nombre}}</h4>
                        <h6 class="card-title">{{empresa.informacion}}</h6>
                        <div class="clearfix"></div>
                        <img [src]="empresa.img1 | imagen:'empresas'" width="90">
                        <img [src]="empresa.img2 | imagen:'empresas'" width="90">
                        <img [src]="empresa.img3 | imagen:'empresas'" width="90">
                        <img [src]="empresa.img4 | imagen:'empresas'" width="90">
                        <br><br>
                        <h6 class="card-title">{{empresa.descripcion}}</h6>
                        <div class="clearfix"></div>
                    </div>
                </agm-info-window>

            </agm-marker>

            <agm-marker *ngFor="let marcador of marcadores" [iconUrl]="'assets/images/markets/'+marcador.icono" [latitude]="marcador.lat" [longitude]="marcador.lng">

                <agm-info-window>
                    <div class="card-body">
                        <h4 class="card-title">{{marcador.nombre}}</h4>
                        <div class="clearfix"></div>
                        <img [src]="marcador.img1 | imagen:'marcadores'" width="90">
                        <img [src]="marcador.img2 | imagen:'marcadores'" width="90">
                        <img [src]="marcador.img3 | imagen:'marcadores'" width="90">
                        <img [src]="marcador.img4 | imagen:'marcadores'" width="90">
                        <br><br>
                        <h6 class="card-title">{{marcador.descripcion}}</h6>
                        <div class="clearfix"></div>
                    </div>
                </agm-info-window>

            </agm-marker>
        </agm-map>

    </div>

</div>