<div class=row>
    <div class="col-md-4">

        <div class="card card-body">
            <h3 class="box-title m-b-0">Barrio: {{barrio.nombre}}</h3>
            <p class="text-muted m-b-30 font-13"> Espacio para {{textoAccion}}. </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarBarrio(f.value)">
                        <div class="form-group">
                            <label>Nombre del barrio</label>
                            <input [(ngModel)]="barrio.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del barrio" required>
                            <input [(ngModel)]="barrio._id" name="_id" type="hidden" class="form-control">

                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i>
                          {{boton}}
                        </button>
                        <a routerLink="/barrios" class="btn btn-inverse waves-effect waves-light">
                          CANCELAR
                        </a>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class=col-md-8>
        <div class="card card-body">
            <h4 class="box-title m-b-0">Selecciona la ubicación del barrio</h4>


            <agm-map [latitude]="barrio.lat" [longitude]="barrio.lng" [scrollwheel]="true" [zoom]="15" (mapClick)="placeMarker($event)" [styles]="styleArray">
                <agm-marker [iconUrl]="'assets/images/markets/barrio.png'" [latitude]="barrio.lat" [longitude]="barrio.lng">
                </agm-marker>
                <agm-marker [label]="'Nueva Ubicacion'" [iconUrl]="'assets/images/markets/barrio.png'" [latitude]="lat_update" [longitude]="lng_update">

                    <agm-info-window>
                        <div class="card-body">
                            <h4 class="card-title">{{barrio.nombre}}</h4>
                            <div class="clearfix"></div>
                        </div>
                    </agm-info-window>

                </agm-marker>
            </agm-map>

            <br><br>




            <div class="form-group">
                <label>Latitud Inicial</label>
                <input [(ngModel)]="barrio.lat" name="lat" type="text" class="form-control" placeholder="Latitud" disabled>
                <span class="badge badge-danger">{{lat_update}}</span>
            </div>

            <div class="form-group">
                <label>Longitud Inicial</label>
                <input [(ngModel)]="barrio.lng" name="lng" type="text" class="form-control" placeholder="Longitud" disabled>
                <span class="badge badge-danger">{{lng_update}}</span>


            </div>



        </div>

    </div>

</div>